@keyframes  hrScale {
    0% {
        height: 0;
    }

    50% {
        height: 32%;
    }
    100% {
        height: 16%;
    }
}
    @keyframes proAni {
        0%{
            right: 60%;
            opacity: 0;
        }
        50%{
            right: 40%;
            opacity: 1;
        }
        100%{
            right: 50%;
            opacity: 1;
}

    }

@keyframes tableAni {
    0%{
        opacity: 0;
        left: 65%;
    }
    50%{
        opacity: 1;
        left: 55%;
    }
    100%{
        opacity: 1;
        left: 60%;
    }
}
@keyframes iconAni {
    0%{
        opacity: 0;
        left: 104%;
    }
    50%{
        opacity: .5;
        left: 92%;
    }
    100%{
        opacity: 1;
        left: 98%;
    }
}
.tableAni{
    -webkit-animation-duration: 4s;
    -webkit-animation-name: tableAni;
}
.hrScale{
    -webkit-animation-duration: 4s;
    -webkit-animation-name: hrScale;

}
.iconAni{
    -webkit-animation-name: iconAni;
    -webkit-animation-duration: 4s;
}
.proAni{
    -webkit-animation-name: proAni;
    -webkit-animation-duration: 4s;
}