@keyframes  pro-hrScale {
    0%{
    transform: scale(0);
}

    75%{
        transform: scale(1.25);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes tableAni {
    0%{
        opacity: 0;
        left: 65%;
    }
    50%{
        opacity: .5;
        left: 55%;
    }
    100%{
        opacity: 1;
        left: 60%;
    }
}
@keyframes iconAni {
    0%{
        opacity: 0;
        left: 104%;
    }
    50%{
        opacity: .5;
        left: 92%;
    }
    100%{
        opacity: 1;
        left: 98%;
    }
}
.tableAni{
    -webkit-animation-duration: 4s;
    -webkit-animation-name: tableAni;
}
.pro-hrScale{
    -webkit-animation-duration: 3s;
    -webkit-animation-name: pro-hrScale;

}
.iconAni{
    -webkit-animation-name: iconAni;
    -webkit-animation-duration: 4s;
}